FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--


## Tipos
### Tipos numéricos: 
    - Inteiros (int)
    - Números de ponto fluante (float) 
    - Complexos (complex)

Neste contexto temos a  [_função nativa_](https://docs.python.org/3/library/functions.html) *type*.

In [310]:
a = 10

In [311]:
type(a)

int

In [312]:
b = 2/3 
print(b)

0.6666666666666666

In [313]:
type(b)

float

*Observação.* No python 2.X a divisão de dois inteiros (*int) resulta no número inteiro truncado do resultado da divisão, já no python 3.X a divisão de dois inteiros resulta sempre em um número do tipo *flot*.

In [314]:
z = 3 + 2j

In [315]:
type(z)

complex

In [316]:
z + a

(13+2j)

In [317]:
z + b*1j

(3+2.6666666666666665j)

Operações nativas com escalares

In [318]:
print(9 + 8) # Soma.
print(12 - 34) # Subtração.
print(12 * 3) # Multiplicação.
print(34 / 23) # Divisão.
print(3 ** 5) # Exponenciação.
print(9 ** 0.5) # Radiciação.
print(501 % 10) # resto da divisão

17
-22
36
1.4782608695652173
243
3.0
1

In [319]:
2**1/3 #Cuidado com as prioridades de cálculo

0.6666666666666666

In [320]:
2**(1/3)

1.2599210498948732

*Observação.* Mais a frente vamos ver o módulo *Math* que introduz outras funções matemáticas, bem como a função *sqrt()* (raíz), que torna certos cálculos menos confusos.

In [321]:
a = 23.
print(type(a))

<class 'float'>

In [322]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [323]:
c = a + b
print(type(c))

<class 'complex'>

##### Operações com > (maior), < (menor), >= (maior ou igual) e <= (menor ou igual)

In [324]:
c = 2.5
d = 4
c > d

False

In [325]:
c = 2.5
d = 4
c <= d

True

In [326]:
c = 1 + 3j
d = 2 + 4j
# c > d  # operação não suportada

##### Operação de igualdade (==) e desigualdade (!=)

In [327]:
c == d

False

In [328]:
d != c

True

In [329]:
q = c == d #você pode armazenar esse tipo de resultado em uma variável, o que nos leva às variáveis Booleanas.
print(a)

23.0

### Tipo Booleano:
Serve para criação de estruturas lógicas e criação de condicionais retornando somente True ou False. True e False são algumas das [constantes _bultin_](https://docs.python.org/3/library/constants.html)

In [330]:
type(q)

bool

In [331]:
'RENATO'.isupper()

True

In [332]:
'Renato'.isupper()

False

In [333]:
'47' == 47

False

### Tipo String:
Strings são sequências de caracteres dispostos, necessariamente, entre aspas simples ou duplas.

In [334]:
s1 = 'uma string'
s2 = "outra string"

In [335]:
print(s1)

uma string

In [336]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [337]:
print(s3)

let's go to the classroom

In [338]:
s4 = "nesta string eu tenho aspas simples (') e aspas duplas(\")"
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [339]:
print(s4)

nesta string eu tenho aspas simples (') e aspas duplas(")

In [340]:
s5 = 'let\'s stress'
s5

"let's stress"

#### Concatenando strings

In [341]:
s1+s2

'uma stringoutra string'

In [342]:
s1+' '+s2

'uma string outra string'

In [343]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [344]:
x = 2.5
y = 3
print('o resultado de x + y é',x+y)

o resultado de x + y é 5.5

In [345]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

O \ só indica que a linha não termina.

In [346]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [347]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [348]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
''' #aspas triplas para pular linhas

In [349]:
s7

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%,\nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [350]:
print(s7)

RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [351]:
texto = 'uma linha \noutra linha'
print(texto)

uma linha
outra linha

#### Contando o número de aparições de um caracter

In [352]:
s4.count('a')

6

#### Substituindo caracteres

In [353]:
s4 = s4.replace('a','@')
s4

'nest@ string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

#### Encontrando a posição da palavra

In [354]:
s4.find('simples')

28

In [355]:
s4[6]

's'

In [356]:
s4[28:]

'simples (\') e @sp@s dupl@s(")'

In [357]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho @sp@s simples'

In [358]:
s4[6:35]

'string eu tenho @sp@s simples'

In [359]:
s4[6:35:2]

'srn utno@pssmls'

In [360]:
a = 21
b = int('21')
a + b

42

In [361]:
c = str(21)
d = '12'
c + d

'2112'

In [362]:
c.isdigit()

True

In [363]:
c = '2ab34'
c.isdigit()

False

In [364]:
x = 0xFFF
x

4095

In [365]:
y = 0b111110001
y

497

In [366]:
0b11111111

255

### Tipo Lista:
Listas são sequências ordenadas de itens (não necessariamente do mesmo tipo) que são postos entre colchetes e separados por vírgula. Uma característica que faz com que as listas sejam tão utilizadas é a mutabilidade, isto é, seus elementos podem ser alterados.

In [367]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [368]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

##### Acessando elementos da lista

obs.: O primeiro elemento possui índice 0.

In [369]:
lista[6]

2.8

In [370]:
len(lista)

8

In [371]:
lista[3]

[2, 3, 4]

In [372]:
lista[-1]

'uma string'

##### Adicionando novos elementos

In [373]:
fib = [1,1]

In [374]:
fib.append(fib[-1]+fib[-2])
fib

[1, 1, 2]

In [375]:
lista2 = [2,6,3,8]

#### Removendo elementos de uma lista

In [376]:
lista2 = [2,6,3,8]

In [377]:
lista2.pop()

8

In [378]:
lista2

[2, 6, 3]

#### Inserindo listas e elementos

In [379]:
lista2.append([34,56])
lista2

[2, 6, 3, [34, 56]]

In [380]:
lista2.pop()

[34, 56]

In [381]:
lista2.extend([34,35]) #Adcionando lista de elementos
lista2

[2, 6, 3, 34, 35]

In [382]:
lista2+[36,37]

[2, 6, 3, 34, 35, 36, 37]

In [383]:
lista2.insert(2,55.55) #Inserindo elemento numa posição específica
lista2

[2, 6, 55.55, 3, 34, 35]

In [384]:
lista2.sort() #Ordenando
lista2

[2, 3, 6, 34, 35, 55.55]

In [385]:
lista2.reverse()
lista2

[55.55, 35, 34, 6, 3, 2]

#### Acessando elementos

In [386]:
lista2[2]

34

In [387]:
lista2.index(3) #Mostra a posição do elemento 3.

4

In [388]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

In [389]:
lista[3].index(2)

0

In [390]:
lista[-1].index('s')

4

### Tipo Conjunto (sets):
Set são sequências não ordenadas de itens únicos. Os itens são postos entre chaves e separados por vírgula.

In [391]:
c1 = {1,2,3,3,3,3,3,4}
c1

{1, 2, 3, 4}

In [393]:
c2 = set([1,2,3,4,1,2])
c2

{1, 2, 3, 4}

In [394]:
lista3 = [1,2,3,'string']

In [395]:
conjunto = set(lista3)

In [396]:
conjunto

{1, 2, 3, 'string'}

In [399]:
conjunto2 = conjunto.union([1,2,9,8,7])

In [400]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [401]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [402]:
lista3 = list(conjunto)

In [403]:
lista3

[1, 2, 3, 'string']

In [405]:
conjunto4 = set('uma string legal')
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [406]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

### Atividade
Aplicar os conceitos sobre tipos para:
    - determinar o número de caracteres, 
    - construir a lista de palavras, e 
    - contar o número de palavras no texto abaixo.

In [408]:
texto = '''
Nosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação. 
Do que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos. Só quieto. Nossa mãe era quem regia, e que ralhava no diário 
com a gente — minha irmã, meu irmão e eu. Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa. 
'''

In [426]:
lista_palavras = texto.split()
lista_palavras

['Nosso',
 'pai',
 'era',
 'homem',
 'cumpridor,',
 'ordeiro,',
 'positivo;',
 'e',
 'sido',
 'assim',
 'desde',
 'mocinho',
 'e',
 'menino,',
 'pelo',
 'que',
 'testemunharam',
 'as',
 'diversas',
 'sensatas',
 'pessoas,',
 'quando',
 'indaguei',
 'a',
 'informação.',
 'Do',
 'que',
 'eu',
 'mesmo',
 'me',
 'alembro,',
 'ele',
 'não',
 'figurava',
 'mais',
 'estúrdio',
 'nem',
 'mais',
 'triste',
 'do',
 'que',
 'os',
 'outros,',
 'conhecidos',
 'nossos.',
 'Só',
 'quieto.',
 'Nossa',
 'mãe',
 'era',
 'quem',
 'regia,',
 'e',
 'que',
 'ralhava',
 'no',
 'diário',
 'com',
 'a',
 'gente',
 '—',
 'minha',
 'irmã,',
 'meu',
 'irmão',
 'e',
 'eu.',
 'Mas',
 'se',
 'deu',
 'que,',
 'certo',
 'dia,',
 'nosso',
 'pai',
 'mandou',
 'fazer',
 'para',
 'si',
 'uma',
 'canoa.']

In [427]:
palavras_unicas = set(texto.split())

In [428]:
print(len(lista_palavras))
print(len(palavras_unicas))

81
71

In [429]:
' @ '.join(lista_palavras)

'Nosso @ pai @ era @ homem @ cumpridor, @ ordeiro, @ positivo; @ e @ sido @ assim @ desde @ mocinho @ e @ menino, @ pelo @ que @ testemunharam @ as @ diversas @ sensatas @ pessoas, @ quando @ indaguei @ a @ informação. @ Do @ que @ eu @ mesmo @ me @ alembro, @ ele @ não @ figurava @ mais @ estúrdio @ nem @ mais @ triste @ do @ que @ os @ outros, @ conhecidos @ nossos. @ Só @ quieto. @ Nossa @ mãe @ era @ quem @ regia, @ e @ que @ ralhava @ no @ diário @ com @ a @ gente @ — @ minha @ irmã, @ meu @ irmão @ e @ eu. @ Mas @ se @ deu @ que, @ certo @ dia, @ nosso @ pai @ mandou @ fazer @ para @ si @ uma @ canoa.'

### Tipo Dicionário:
Dicionários são sequências não ordenadas de itens na forma de pares key:values que se encontram dentro de chaves e separados por vírgula. Como value podemos usar objetos de qualquer tipo, já como key só podemos usar objetos de tipos imutáveis (strings, números ou tuplas).

In [433]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23}

In [434]:
dic.update({2:3})
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23, 2: 3}

In [436]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}
ficha

{'Peso': 73, 'Altura': 183, 'Idade': 44, 'Nome': 'Renato'}

In [438]:
ficha['Idade']

44

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [439]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [445]:
boletim['Matemática']['A2']

8.0

In [446]:
boletim.items()

dict_items([('Matemática', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('História', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geografia', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [452]:
'A2' in boletim['Matemática']

True

In [454]:
boletim['Matemática'].values()

dict_values([9.0, 8.0, 4.0])

In [455]:
8 in boletim['Matemática'].values()

True

In [456]:
boletim['Matemática']['AS'] = 10
boletim

{'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [441]:
boletim2 = {'Matemática':{'A1':2.0, 'A2':4.0,'AS':4.0},
           'História':{'A1':1.0, 'A2':5.0,'AS':4.0},
           'Geografia':{'A1':0.0, 'A2':2.0,'AS':1.0}}

Dicionário de dicionários

In [442]:
notas={'João':boletim, 'Pedro':boletim2}
notas

{'João': {'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
  'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
  'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}},
 'Pedro': {'Matemática': {'A1': 2.0, 'A2': 4.0, 'AS': 4.0},
  'História': {'A1': 1.0, 'A2': 5.0, 'AS': 4.0},
  'Geografia': {'A1': 0.0, 'A2': 2.0, 'AS': 1.0}}}

In [443]:
notas['João']

{'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

### Tipo Tupla:
Tuplas, assim como listas, são sequências ordenadas de itens. As diferenças entre elas são: os elementos estão entre parênteses e as tuplas são imutáveis, seus elementos não podem ser modificados.

In [457]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [458]:
type(t)

tuple

In [459]:
t[0]

1

In [460]:
t[5]

4

In [461]:
t[3:6]

(4, 7, 4)

In [462]:
lista = [1,2,3]

In [464]:
tupla = tuple(lista)
tupla

(1, 2, 3)

In [466]:
lista2 = list(tupla)
lista2

[1, 2, 3]

In [467]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [468]:
t2 = (2,4,7,2,2,2,2)

In [469]:
t2.count(2)

5

In [470]:
a = [1,2]

In [471]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [472]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

Empacotamento e desempacotamento de tuplas

In [473]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

In [474]:
t = (2,3,4)
x,y,z = t
print(t)
print(x)
print(y)
print(z)

(2, 3, 4)
2
3
4

In [475]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

1
[2, 3]
4

In [476]:
# Troca de valores
print(x)
print(y)
x,y = y,x
print(x)
print(y)

1
[2, 3]
[2, 3]
1

## Próxima aula
Condicionais e Estruturas de repetição (Loops)

- *if, elif, else* (em python não tem *case*)
- *for, while*